body {
  font-family: cursive;
  font-size: 20px;
  background-color: #b0a0df;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  background-color: #b0a0df;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b6b2b6;
}

i {
  font-size: 1rem;
}

.church-icon {
  font-size: 6rem;
  color: #b6b2b6;
}